# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Editor / IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Old directory
Dashboard DemoDay UBA/
